body,
section {
  padding-top: 70px;
  font-size: 16px;
}

.colors-one,
.colors-one h2 {
  color: #ebea76;
}

.colors-two,
.colors-two h2 {
  background: #00cd34;
  color: #bc00bb;
}

.colors-three,
.colors-three h2 {
  background: green;
  color: red;
}

#skip-link {
  background-color: white;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  z-index: 1031;
}

#skip-link:focus {
  opacity: 1;
}
